.Dashboard_Container{
    width:100vw;
    height: 100vh;

}
.app_container{
    width: 100vw;
    height: 100vh;
}
.side_panel{

}
.side_container{
    /*background-color: #0D1821;*/
    color: #FFFFFF;
    background: linear-gradient(to bottom, #1F1E1F, #2A2829);
    /*background: linear-gradient(to bottom, #2A2829, #1F1E1F);*/
}
.main_display{
    /*background-color: #736F72;*/
    /*background: linear-gradient(to bottom, #1F1E1F, #2A2829);*/
    background: url("/public/Baxter.png"), linear-gradient(to bottom, #060B0F, #0d1821);
    background-size: 100% auto, 100% 100%;
    background-repeat: no-repeat;
    /*background-position: 100% 50%, 0% 0%;*/



}
.active_tab{
    background-color: #060B0F;
    color: #EAC435;
}
.tab{
    border-top-right-radius: 10px; /* Adjust the radius as needed */
    border-bottom-right-radius: 10px;
    margin-bottom: 25px;
    /* Adjust the radius as needed */
}
.tab_panel{
    padding-top: 50px;
    font-size: 25px;
}
.clock_card {
    background-color: #0d1821;
    width: 5vw;
    height: 5vh;
    color: #EAC435;
}
.timer_card{
    background-color: #0d1821;
    width: 15vw;
    height: 5vh;
    color: #EAC435;
}
.kanban-column{
    /*height: 100vh;*/
    border-radius: 10px; /* Adjust the value to control the level of rounding */
    background-color:#A0A0A0;
    padding-top: 10px;
    margin-top: 4vh;
    /*flex:1;*/
    /*max-height: 100%;*/
    /*border: 14px solid #B0B0B0;*/
}
.item-container{
    /*margin-left: 8px;*/
    /*margin-right: 8px;*/
}
.kanban-item{
    background-color: #B0B0B0;
    margin-top: 10px;
    border-radius: 8px;
    padding-left: 12px;
    padding-top: 4px;
    padding-bottom: 4px;

    max-height: 100%;
    word-wrap: break-word; /* Wrap long words onto the next line */
    overflow: hidden; /* Hide content that overflows the box */
    text-overflow: ellipsis; /* Display an ellipsis (...) to represent clipped text */
    width:  calc(100% - 16px);
    margin-left: 8px;
    margin-right: 8px;

}

.kanban-item:hover{
    border: 2px solid #3498db;
}
.col-0{
    background-color: #C19B9B;
}
.col-1{
    background-color: #EFD19F;
}
.col-2{
    background-color: #91A184;
}
.col-3{
    background-color: #B08FC7;
}
.col-4{
    background-color: #769ECB;
}
.add-card{
    padding-top: 20px;
    padding-left: 12px;
}
.add-list{
    border-radius: 10px; /* Adjust the value to control the level of rounding */
    background-color:#A0A0A0;
    padding-top: 10px;
    margin-top: 4vh;
}
.kanban-board{
    height: 100%;
}
.list-heading{
    padding-left: 12px;
}
.kan-button{
    font-weight: bold;
    background: none;
    border: none;
    /*width:80%;*/
    display: flex;
    justify-content: start;
    border-radius: 8px;
    margin-bottom: 4px;
}
.kan-button:hover{
    background-color: grey;
}
.kan-remove{
    font-weight: bold;
    background: none;
    border: none;
    padding-right: 12px;
    font-size: 25px;
}